html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    position: relative;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
}

main {
    margin: 0 10%;
    padding: 10% 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=submit]{
    background-color: #24b724;
    height: 100px;
    color: white;
    font-size: 50px;
    border-radius: 16px;
    margin: 5%;
    transition: .1s;
}
input[type=submit]:hover {
    background-color: #00ff00;
    cursor: pointer;
}

.results {
    display: none;
}

/* footer */
footer {
    color: black;
   ;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding-right: 3%;
    padding-bottom: 3%;
    text-align: right;
}